<!DOCTYPE html>
<html>
<head>
	<meta charset= "utf-8">
	<title>Registro</title>
	<% include partials/head %>
</head>
<body class="login">
	<div class="container">
		<div class="col-md-5 mt-5 mb-3 mx-auto" style="background: gray;">
			<div class="col-md-12 md-center" >
				<h1 class="text-center mb-2" >
					<span class="fas fa-user">
					</span>
					Registro
				</h1>
			</div>
			<form action="" method="post">
				<div class="form-group">
					<div class="col-md-12">
						<div>
							<h5 for="user" class="text-center">Uneg user</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="user" name="user" value="" class="form-control">
						</div>
						<div>
							<h5 for="password" class="text-center">Password</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="password" value="" class="form-control">
						</div>
						<div>
							<h5 for="nombre" class="text-center">Nombre</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="nombre" value="" class="form-control">
						</div>
						<div>
							<h5 for="cedula" class="text-center">Cédula</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="cedula" value="" class="form-control">
						</div>
						<div>
							<h5 for="email" class="text-center">Email</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="email" name="email" value="" class="form-control">
						</div>
						<div>
							<h5 for="celular" class="text-center">celular</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="celular" value="" class="form-control">
						</div>
						<div>
							<h5 for="telefono" class="text-center">telefono</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="telefono" value="" class="form-control">
						</div>
						<div>
							<h5 for="Tipo de pasantía" class="text-center">Tipo de pasantía</h5>
						</div>
						<div class="col-md-5 mb-2 mx-auto">
							<select>
								  <option value="profesional">Profesional</option>
								  <option value="tesista">Tesista</option>
							</select>
						</div>
						<div>
							<h5 for="proyecto de carrera" class="text-center">Proyecto de carrera</h5>
						</div>
						<div class="col-md-10 mb-2 mx-auto">
							<select>
								  <option value="informatica">Ingeniería informática</option>
								  <option value="industrial">Ingeniería industrial</option>
								  <option value="administracion">Administracion de empresas</option>
								  <option value="contaduria">Contaduría pública</option>
								  <option value="banca">Banca y finanza</option>
								  <option value="educacion">Educación integral</option>
								  <option value="deporte">Educación mención educación física</option>
								  <option value="lengua">Educación mención lengua y literatura</option>
								  <option value="matemática">Educación mención matemática</option>
							</select>
						</div>
						<div class="col-md-4 mb-2 mx-auto">
							<input type="submit" href="/sistema" class="btn btn-dark btn-lg">
						</div>
						<div>
							<h5 for="direccion" class="text-center">Direccion Exacta</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="direccion" value="" class="form-control">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>