<!DOCTYPE html>
<html>
<head>
	<meta charset= "utf-8">
	<title>Registro</title>
	<% include partials/head %>
</head>
<body class="login">
	<div class="container">
		<div class="col-md-5 mt-5 mb-3 mx-auto" style="background: gray;">
				<h1 class="text-center mb-2" >
					<span class="fas fa-user">
					</span>
					Registro
				</h1>
			<div class="form-group">
					<div class="col-md-12">
						<div>
							<h5 for="user" class="text-center">Uneg user</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="user" name="user" value="" class="form-control" id="username">
						</div>
						<div>
							<h5 for="password" class="text-center">Password</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="password" value="" class="form-control" id="password">
						</div>
						<div>
							<h5 for="nombre" class="text-center">Nombre</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="nombre" value="" class="form-control" id="nombre">
						</div>
						<div>
							<h5 for="apellido" class="text-center">Apellido</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="apellido" value="" class="form-control" id="apellido">
						</div>
						<div>
							<h5 for="cedula" class="text-center">Cédula</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="cedula" value="" class="form-control" id="cedula">
						</div>
						<div>
							<h5 for="email" class="text-center">Email</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="email" name="email" value="" class="form-control" id="email">
						</div>
						<div>
							<h5 for="celular" class="text-center">celular</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="celular" value="" class="form-control" id="celular">
						</div>
						<div>
							<h5 for="telefono" class="text-center">telefono</h5>
						</div>
						<div class="col-md-8 mx-auto">
							<input type="text" name="telefono" value="" class="form-control" id="telefono">
						</div>
						<div>
							<h5 for="proyecto de carrera" class="text-center">Proyecto de carrera</h5>
						</div>
						<div class="col-md-10 mb-2 mx-auto">
							<select id="carrera">
								  <option value="Ingeniería informática">Ingeniería informática</option>
								  <option value="Ingeniería industrial">Ingeniería industrial</option>
								  <option value="Administracion de empresas">Administracion de empresas</option>
								  <option value="Contaduría pública">Contaduría pública</option>
								  <option value="Banca y finanza">Banca y finanza</option>
								  <option value="Educación integral">Educación integral</option>
								  <option value="Educación mención educación física">Educación mención educación física</option>
								  <option value="Educación mención lengua y literatura">Educación mención lengua y literatura</option>
								  <option value="Educación mención matemática">Educación mención matemática</option>
							</select>
						</div>

						<div>
							<h5 for="direccion" class="text-center">Direccion Exacta</h5>
						</div>

						<div class="col-md-8 mb-2 mx-auto">
							<input type="text" name="direccion" value="" class="form-control">
						</div>
						<div class="col-md-4 mb-2 mx-auto">
							<button onClick="registrar()" class="btn btn-dark btn-lg">Registrar</button>
						</div>
					</div>
				</div>
		</div>
	</div>
	<script type="text/javascript">
	function registrar() {
	  const username = $("#username").val();
	  const password = $("#password").val();
	  const nombre = $("#nombre").val();
	  const apellido = $("#apellido").val();
	  const cedula = $("#cedula").val();
	  const carrera = $("#carrera").val();
	  const email = $("#email ").val();
	  const celular = $("#celular").val();
	  const telefono = $("#telefono").val();
	  const direccion = $("#direccion").val();
	  const data = {};
	  data.user = username;
	  data.password = password;
	  data.nombre = nombre;
	  data.apellido = apellido;
	  data.cedula = cedula;
	  data.carrera = carrera;
	  data.email = email;
	  data.celular = celular;
	  data.telefono = telefono;
	  data.direccion = direccion;
  $.ajax({
    url: "api/user",
    data: data,
    method: "POST",
    type: "POST",
    success: function(data) {
      alert("Datos Guardados exitosamente");
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      //TODO ERROR NOTIFY
    }
  });

  /* Para sacar los datos
  $.ajax({
    url: "api/user/me",
    data: data,
    method: "GET",
    success: function(data) {
      // aqui tienes la data del usuario
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      //TODO ERROR NOTIFY
    }
  });*/
}
</script>
</body>
</html>
