<!DOCTYPE html>
<html>
<head>
	<meta charset= "utf-8">
	<title>Sistema de pasantía</title>
	<% include partials/head %>
</head>
<body class="sistema">
	<script src="js/main.js" chartset="utf-8"></script>
	<script src="js/generar.js" chartset="utf-8"></script>
	<script src="js/carta-presentacion.js" chartset="utf-8"></script>
	<script src="js/reglamento.js" chartset="utf-8"></script>
	<script src="js/carta-postulacion.js" chartset="utf-8"></script>
	<script src="js/inicio.js" chartset="utf-8"></script>
	<script src="js/plan-trabajo.js" chartset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>

	<div class="container-fluid" style="background:#0D50AF;">
		<div class="row " style="border-bottom-style:solid; border-color:black">
			<div class="col-md-3 mb-2 mx-auto">
				<div  id="inicio-btn" class="col-md-4 mt-2  mx-auto">
					<a href="">
						<img class="img-fluid" alt="Responsive image" src="/images/uneg.png">
					</a>
				</div>
			</div>
			<div class="col-md-9 mt-4" style="color:white">
					<h1 class="text-center" >Bienvenido al Sistema de Pasantías</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid h-100"  style="background:white;">
		<div class="row h-100">
			<div class="col-md-3 " style="border-right-style: solid; border-color:black">
				<div style="text-center">
					<h5 id="user-name"></h5>
				</div>
				<div type="button" id="generar-btn" class="btn btn-success btn-lg btn-block mt-4 mb-2">
						Generar pasantía
				</div>
				<div type="button" id="presentacion-btn" class="btn btn-primary btn-lg btn-block mt-4 mb-2" onclick="javascript:generar_lista_presentacion()">
						Carta de presentación
				</div>
				<div type="button" id="postulacion-btn" class="btn btn-secondary btn-lg btn-block mt-3 mb-2" onclick="javascript:generar_lista_postulacion()">
						Carta de postulacion
				</div>
				<div type="button" id="trabajo-btn" class="btn btn-info btn-lg btn-block mt-3 mb-2" onclick="javascript:()">
						Plan de trabajo
				</div>
				<div type="button" id="reglamento-btn" class="btn btn-link btn-lg btn-block mt-3 mb-2">
						Reglamento de pasantías 						
				</div>
				<a href="/logout">
					<div type="button" class="btn btn-danger btn-lg btn-block mt-3 mb-3" href="/logout">
							Salir
					</div>
				</a>
			</div>
			<div class="col-md-9">
				<div id="inicio">
					<h2 align="justify">En el Sistema de Pasantías podrás gestionar los datos y documentos necesarios para formalizar una pasantía, como lo son: <br>
						*Carta de Presentación <br>
						*Carta de Postulación <br>
						*Plan de Trabajo <br>

						Adicional a esto podrás descargar el Reglamento De Pasantias para conocer más sobre la gestión de ésta. 
					</h2>
				</div>
				<div class="row" id="generar" style="display:none;">
					<div class="col" style="background:Gainsboro;border-color:black;border-style:solid">
						<form id="generarform">
							<div>
								<h3 for="Ingrese datos" class="text-center">Ingrese datos de su pasantía</h3>
							</div>
							<div>
								<h5 for="Tipo de pasantía" class="text-center">Tipo de pasantía</h5>
							</div>
							<div class="col-md-2 mb-2 mx-auto">
								<select id="tipo">
									  <option value="profesional">Profesional</option>
									  <option value="tesista">Tesista</option>
								</select>
							</div>
							<div>
								<h5 for="empresa" class="text-center">Empresa/Institución</h5>
							</div>
							<div class="col-md-6 mb-2 mx-auto">
								<input type="text" id="empresa" required value="" class="form-control">
							</div>
							<div>
								<h5 for="area" class="text-center">Area a ejecutar</h5>
							</div>
							<div class="col-md-6 mb-2 mx-auto">
								<input type="text" id="area" value="" class="form-control">
							</div>
							<div>
								<h5 for="titulo" class="text-center">Titulo de pasantia</h5>
							</div>
							<div class="col-md-6 mb-2 mx-auto">
								<input type="text" id="titulo" value="" class="form-control">
							</div>
							<div>
								<h5 for="tutor academico" class="text-center">Tutor academico</h5>
							</div>
							<div class="col-md-6 mb-2 mx-auto">
								<input type="text" id="academico" value="" class="form-control">
							</div>
							<div>
								<h5 for="Fecha de inicio" class="text-center">Fecha de inicio</h5>
							</div>
							<div class="col-md-2 mb-2 mx-auto">
								<input type="date" required id="init" value="">
							</div>
							<div>
								<h5 for="Fecha de culminación" class="text-center">Fecha de culminación</h5>
							</div>
							<div class="col-md-2 mb-2 mx-auto">
								<input type="date" required id="fin" value="">
							</div>
							<div>
								<h5 for="Duracion" class="text-center">Duración</h5>
							</div>
							<div class="col-md-1 mb-2 mx-auto">
								<input type="number" id="duracion" value="16" min="16" max="52">
							</div>
							<div>
								<h5 for="plan" class="text-center">Ingrese Plan de trabajo</h5>
							</div>
							<div class="col-md-2 mb-2 mx-auto">
								<input type="file" id="plan">
							</div>

							<div class="col-md-1 mt-2 mb-2 mx-auto">
								<button onClick="guardar()" id="registrar-btn" class="btn btn-dark btn-lg">Registrar</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col" id="carta-presentacion" style="display:none">
					<h2>Cartas de presentación</h2>
					<div id="car-pre"></div>
				</div>
				<div class="col" id="carta-postulacion" style="display:none">
					<h2>Cartas de postulación disponibles</h2>
					<div id="car-pos"></div>
				</div>
				<div class="col" id="plan-trabajo" style="display:none">
					<h2>Plan de trabajo disponibles</h2>
				</div>
				<embed src="/documents/reglamento.pdf" type="application/pdf" width="101%" height="85%" id="reglamento" style="display:none;"  ></embed>
			</div>
		</div>
	</div>
	<script>
	  $.ajax({
	    url: "api/user/me",
	    method: "GET",
	    success: function(data) {
		    datos.nombre=data.nombre;
		    datos.apellido=data.apellido;
		    datos.cedula=data.cedula;
		    datos.carrera=data.carrera;
		    datos.email=data.email;
		    datos.celular=data.celular;
		    datos.telefono=data.telefono;
		    datos.indice="8.05";
	      	document.getElementById("user-name").innerHTML=("Bienvenido al sistema: <b>"+datos.nombre+"</b>");
	    },
	    error: function(XMLHttpRequest, textStatus, errorThrown) {
	     console.log("Error", XMLHttpRequest, textStatus, errorThrown);
	    }
	  });
  	</script>
</body>
</html>