<!DOCTYPE html>
<html>
<head>
	<meta charset= "utf-8">
	<title>Sistema de pasantía</title>
	<% include partials/head %>
</head>
<body class="sistema">
	<div class="container">
	<h1>hola</h1>
	</div>
</body>
</html>